.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookshelf-back {
    width: 300px;
    height: 600px;
    background-color: burlywood;
    box-shadow:
        0 0 0 20px rgb(126, 104, 76),
        0 0 0 24px black;       
    margin: 50px;
    display: grid;
    gap: 20px;
}

.bookshelf-shelf_one {
    height: 135px;
    box-shadow:
        0 0 0 5px rgb(0, 0, 0),
        0 0 0 12px rgb(126, 104, 76),
        0 0 0 2px black; 
    display: flex;
}

.bookshelf-shelf_two {
    height: 135px;
    box-shadow:
        0 0 0 5px rgb(0, 0, 0),
        0 0 0 12px rgb(126, 104, 76),
        0 0 0 2px black; 
    display: flex;
}

.bookshelf-shelf_three {
    height: 135px;
    box-shadow:
        0 0 0 5px rgb(0, 0, 0),
        0 0 0 12px rgb(126, 104, 76),
        0 0 0 2px black; 
    display: flex;
}

.bookshelf-shelf_four {
    height: 135px;
    box-shadow:
        0 0 0 5px rgb(0, 0, 0),
        0 0 0 12px rgb(126, 104, 76),
        0 0 0 2px black; 
    display: flex;
}

.book {
    width: 30px;
    height: 135px;
    box-shadow: 0 0 0 2px black;
    position: relative;
    cursor: pointer;
}

.book::after {
    content: attr(data-info);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    color: white;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book:hover::after {
    visibility: visible;
    opacity: 1;
}

.add-button {
    width: 130px;
    height: 65px;
    background-color: rgb(0, 179, 255);
    border: rgb(0, 179, 255) solid;
    border-radius: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

